<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pouchdb@8.0.1/dist/pouchdb.min.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar name="app-bar">
                <div class="mx-auto">Breadchen</div>
            </v-app-bar>

            <v-main class="ma-3">
                <v-dialog v-model="config">

                    <v-card class="pa-3">

                        <h3 class="ma-3">E-Mail</h3>
                        <v-text-field label="Empfänger" v-model="data.recipient"></v-text-field>
                        <v-text-field label="Betreff" v-model="data.subject"></v-text-field>
                        <v-textarea label="E-Mail Header" v-model="data.header"></v-textarea>
                        <v-textarea label="E-Mail Footer" v-model="data.footer"></v-textarea>

                        <h3 class="ma-3">Zimmer</h3>
                        <div v-for="(z, index) in data.zimmer">
                            <span>{{ z }}</span>
                            <v-btn size="x-small" @click="removec('zimmer', index)" outlined
                                class="ml-3">löschen</v-btn>
                        </div>
                        <v-text-field label="Zimmername" v-model="azimmer"></v-text-field>
                        <v-btn @click="addc('azimmer')" size="small">hinzufügen</v-btn>
                        <h3 class="ma-3">Brötchen</h3>
                        <div v-for="(t, index) in data.types">
                            <span>{{ t }}</span>
                            <v-btn size="x-small" @click="removec('types', index)" outlined class="ml-3">löschen</v-btn>
                        </div>
                        <v-text-field label="Art" v-model="atype"></v-text-field>
                        <v-btn @click="addc('atype')" size="small">hinzufügen</v-btn>

                        <v-btn @click="save" size="small" class="mt-3">speichern</v-btn>

                    </v-card>

                </v-dialog>
                <v-btn @click="config = true" size="small" class="mb-3 mr-3">Konfiguration</v-btn>

                <v-text-field v-model="date" label="Datum"></v-text-field>
                <v-select label="Zimmer" :items="data.zimmer" v-model="szimmer"
                    @update:model-value="$refs.menge.focus()" dense></v-select>
                <v-select label="Brötchen" :items="data.types" v-model="stype" @update:model-value="$refs.menge.focus()"
                    dense></v-select>
                <v-text-field label="Menge" v-model="menge" ref="menge"></v-text-field>

                <v-btn @click="add" size="small" class="mb-3 mr-3"
                    :disabled="!szimmer || !stype || !menge">hinzufügen</v-btn>
                <v-btn @click="send" size="small" class="mb-3">E-Mail senden</v-btn>

                <div v-for="(items, zimmer) in added">
                    <h5>{{ zimmer }}</h5>
                    <ul>
                        <li v-for="(b, index) in items" class="ml-5">
                            <span>{{ b }}</span>
                            <v-btn size="x-small" @click="remove(zimmer, index)" outlined class="ml-3">löschen</v-btn>
                        </li>
                    </ul>
                </div>
            </v-main>

        </v-app>
    </div>
    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify()

        createApp({
            data() {
                return {
                    db: new PouchDB('data'),

                    config: false,

                    data: {
                        zimmer: [],
                        types: [],

                        recipient: '',
                        subject: '',
                        header: '',
                        footer: '',
                    },

                    azimmer: '',
                    atype: '',

                    date: '',
                    szimmer: '',
                    stype: '',
                    menge: '',

                    added: {},
                };
            },

            mounted() {
                this.db.get('data').then(doc => {
                    this.data = doc;
                }).catch(() => {
                    let zimmer = [];
                    for (let i = 1; i <= 10; i++) zimmer.push('Zimmer ' + i);
                    let types = ['Fett', 'Knüppel', 'Dinkel', 'Vollkorn', 'Sonnenblumen dunkel', 'Kürbiskern dunkel', 'Sesam', 'Käsebrötchen', 'Croissant'];

                    this.data = {
                        _id: 'data',
                        zimmer: zimmer,
                        types: types,
                        recipient: '',
                        subject: 'Bestellung',
                        header: [
                            'Hallo liebes Team,',
                            '',
                            'bitte liefern Sie uns zu morgen, den #DATE#:',
                        ].join("\n"),
                        footer: [
                            'Vielen Dank und Liebe Grüße',
                        ].join("\n"),
                    };

                    this.save();
                });

                var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
                this.date = currentDate.toLocaleDateString('de-DE', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                });
            },

            methods: {
                add() {
                    if (!this.added[this.szimmer])
                        this.added[this.szimmer] = [];

                    this.added[this.szimmer].push(this.menge + 'x ' + this.stype);
                },

                send() {
                    let body = [this.data.header];
                    body.push('');

                    for (let [zimmer, items] of Object.entries(this.added)) {
                        body.push(zimmer);

                        for (let i of items) body.push(' - ' + i);
                    }

                    body.push('');
                    body.push('');
                    body.push(this.data.footer);
                    body = body.join("\n").replace("#DATE#", this.date);

                    window.open("mailto:" + this.data.recipient + "?subject=" + this.data.subject + "&body=" + encodeURIComponent(body));
                },

                save() {
                    this.db.put(this.data);
                    this.config = false;
                },

                addc(type) {
                    switch (type) {
                        case "azimmer":
                            this.data.zimmer.push(this[type]);
                            break;
                        case "atype":
                            this.data.types.push(this[type]);
                            break;
                    }

                    this[type] = '';
                },

                remove(zimmer, index) {
                    this.added[zimmer].splice(index, 1)

                    if (this.added[zimmer].length == 0)
                        delete this.added[zimmer];

                },

                removec(type, index) {
                    this.data[type].splice(index, 1);
                },
            }
        }).use(vuetify).mount('#app')
    </script>

</body>

</html>